        window.dataLayer = window.dataLayer || [];
        function gtag() { window.dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-2VYGG1ZWE3');
    </script>

    <style data-framer-font-css="">
        @font-face {
            font-family: "Inter Display";
            src: url("https://framerusercontent.com/assets/gazZKZuUEtvr9ULhdA4SprP0AZ0.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 600;
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
        }

        @font-face {
            font-family: "Inter Display";
            src: url("https://framerusercontent.com/assets/pe8RoujoPxuTZhqoNzYqHX2MXA.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 600;
            unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
        }

        @font-face {
            font-family: "Inter Display";
            src: url("https://framerusercontent.com/assets/teGhWnhH3bCqefKGsIsqFy3hK8.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 600;
            unicode-range: U+1F00-1FFF
        }

        @font-face {
            font-family: "Inter Display";
            src: url("https://framerusercontent.com/assets/qQHxgTnEk6Czu1yW4xS82HQWFOk.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 600;
            unicode-range: U+0370-03FF
        }

        @font-face {
            font-family: "Inter Display";
            src: url("https://framerusercontent.com/assets/MJ3N6lfN4iP5Um8rJGqLYl03tE.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 600;
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
        }

        @font-face {
            font-family: "Inter Display";
            src: url("https://framerusercontent.com/assets/PfdOpgzFf7N2Uye9JX7xRKYTgSc.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 600;
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
        }

        @font-face {
            font-family: "Inter Display";
            src: url("https://framerusercontent.com/assets/0SEEmmWc3vovhaai4RlRQSWRrz0.woff2");
            font-display: swap;
            font-style: normal;
            font-weight: 600;
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB
        }

        @font-face {
            font-family: "Inter Display Placeholder";
            src: local("Arial");
            ascent-override: 98.56%;
            descent-override: 24.54%;
            line-gap-override: 0.00%;
            size-adjust: 98.29%
        }
    </style>
